{% extends 'base.html' %}

{% block title %}
About
{% endblock %}
{% block content %}
<div class="container">
<h1>About Us</h1>
<hr/>
<p class="fs-4">Our hospital is dedicated to providing high-quality healthcare services with compassion and professionalism.
    We offer a wide range of medical treatments through experienced doctors, skilled nurses, and modern medical facilities.
    Our departments include specialties such as dermatology, cardiology, neurology, pediatrics, and psychology to ensure complete care for patients.
    We focus on patient safety, advanced treatment methods, and a comfortable healing environment.
    Our mission is to improve the health and well-being of the community by delivering reliable, affordable, and patient-centered medical care.
</p>
</div>
{% endblock %}